/* landing.css */
body {
    background-color: #dfeaf7; 
    font-family: 'Montserrat', sans-serif; 
        
}

.bold-text {
    font-weight: 600; 
}

.header {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: white;
}
.header .logo {
    height: 170px;
    
    margin-top: -25px;
    margin-left: -30px;
    margin-bottom: -60px;
    margin-right: -20px;

    filter: url(#drop-shadow); /* Aplicar el filtro SVG */
}

.admin-butt {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
}
.header .admin-icon {
    height: 50px;
    
}

.main{
    border-radius: 30px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: white;
}

.map-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.btn img {
    max-height: 100px; 
    border-radius: 10px; 
}

.btn {
    background-color: #ffffff; /* Fondo blanco para los botones */
    border: none; /* Sin bordes */
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s; /* Transición suave para el efecto de hover */
}

.btn:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Añade una sombra más pronunciada al hacer hover */
}

.btn-microfono.active {
    background-color: #88b9f4; /* Color específico para el botón del microfono */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer clic */
}

.btn-leon.active {
    background-color: #F9CE7F; /* Color específico para el botón del león */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer clic */
}

.btn-mono.active {
    background-color: #7b9768; /* Color específico para el botón del mono */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer clic */
}

.btn-jirafa.active {
    background-color: #FEA456; /* Color específico para el botón de la jirafa */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer clic */
}